#contenedor{ 
    width: 90%;
    height: auto;
    margin: auto;
    padding: 5px;
text-align: center;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: palevioletred;
    text-align: center;

}
header{
    width: 100%;
}
section{
    padding: 5px;
}